parameters:
	ignoreErrors:
		-
			message: '#^Method ITB\\ShopwareCodeBasedPluginConfiguration\\ConfigurationCardConfigReader\:\:getConfigFromBundle\(\) should return array\<array\{title\: array\{en\-GB\: string, de\-DE\: string\}, name\: null, elements\: array\<array\{name\: string, label\: array\{en\-GB\: string, de\-DE\: string\}, helpText\: array\{en\-GB\: string\|null, de\-DE\: string\|null\}, type\: string, defaultValue\: string\|null, options\?\: array\<array\{id\: string, name\: array\{en\-GB\: string, de\-DE\: string\}\}\>\}\>\}\> but returns array\<array\<string, mixed\>\>\.$#'
			identifier: return.type
			count: 1
			path: src/ConfigurationCardConfigReader.php

		-
			message: '#^Cannot access offset ''priority'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/CompilerPass/ConfigurationCardConfigReaderPass.php

		-
			message: '#^Parameter \#2 \$priority of method ITB\\ShopwareCodeBasedPluginConfiguration\\DependencyInjection\\CompilerPass\\ConfigurationCardConfigReaderPass\\ConfigurationCardProviderReferenceCollection\:\:add\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/CompilerPass/ConfigurationCardConfigReaderPass.php

		-
			message: '#^Parameter \#2 \$configurator of method Symfony\\Component\\DependencyInjection\\ContainerBuilder\:\:registerAttributeForAutoconfiguration\(\) expects callable\(Symfony\\Component\\DependencyInjection\\ChildDefinition, ITB\\ShopwareCodeBasedPluginConfiguration\\Attribute\\AsConfigurationCardProvider, Reflector\)\: void, Closure\(Symfony\\Component\\DependencyInjection\\ChildDefinition, ITB\\ShopwareCodeBasedPluginConfiguration\\Attribute\\AsConfigurationCardProvider, ReflectionClass\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/CompilerPass/ConfigurationCardProviderTaggingPass.php
